# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Media files
media/

# Collected static files
staticfiles/

# VS Code
.vscode/

# Other IDEs
.idea/

# Operating system
.DS_Store
Thumbs.db
db_backup_before_product_cleanup.sqlite3
products_backup.json
